.popup {
	@apply fixed top-0 left-0 z-[1000] w-[100vw] h-[100vh];
   
	&-item {
	 @apply absolute overflow-hidden rounded-[4px] top-[50%] left-[50%] bg-white translate-x-[-50%] translate-y-[-50%];
	 // @apply absolute w-fit h-fit p-[16px] rounded-[4px] top-[50%] left-[50%] bg-white translate-x-[-50%] translate-y-[-50%];
   
	 &-child {
   
	  &-large {
	   @apply w-[80%] h-[80%];
	  }
   
	  &-normal {
	   @apply w-[648px] h-[384px];
	   // @apply w-[632px] h-[368px];
   
	  }
   
	  &-small {
	   @apply w-[345px] h-[477px];
	   // @apply w-[329px] h-[461px];
	  }
   
	  &-fit {
	   @apply w-fit h-fit;
   
	  }
   
	  &-icon {
	   @apply absolute right-[8px] top-[8px] cursor-pointer;
	  }

	 }

    
	}
   
	&-hidden {
	 @apply hidden;
	}

	&-rightSide{
		@apply absolute w-[328px] h-screen right-[0%] bg-white;

		animation-name: stretch-sidebar;
		animation-duration: 1s;

		&-icon {
			@apply absolute right-[10px] top-[10px] cursor-pointer;
		}
	}
}


@keyframes sidebar {
    0% {
        width: 0px;
    }
    100% {
        width: 328px;
    }
}